html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500px;
  background: #efefef;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

ul {
  background: white;
  border: 5px;
  border-color: purple;
  padding: 30px;
  border-radius: 20px;
	
}

h1 {
  font-size: 2rem;
  color: darkslategray;
  border: 0px;
  border-bottom: 10px;
  border-style: dotted;
  border-color: purple;
	
}

h2 {
	font-size: 1.5rem;
	font-style: italic;

}

. job-title {
  color: darkslategray;
  font-style: bold;  
}

a {
  color: green;  
	
}

a:hover {
  color: darkgreen;
}