/* General setup */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  line-height: 30px;
  letter-spacing: 1px;
  text-indent: 2rem;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

h1 {
	text-indent: 0px;
	text-align: center;
	letter-spacing: 1px;
}

h2 {
	text-indent: 0px;
	margin-bottom: 0px;
	letter-spacing: 1px;
	
}

a {
	color: gray;
	text-decoration: underline;
	outline: 0px
}

a:hover {
	color: lightgray;
	text-decoration: none;
}

a[href*="http"] {
  padding-right: 12px;
  background: url("externalLink.png") no-repeat right center;
  background-size: 10px 10px;
}

nav li a{
	display: inline-block;
	width: 100%;
	border: 2px solid;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
}